.ais-Highlight-highlighted{
  background-color: #AFE9FF99;
  text-decoration: none;
  font-style: normal;
}

.searchColumn{
  padding: 10px 0px;
}

.elementRefine{
  margin-bottom: 5px;
}

.refined{
  border: 1px solid rgb(31, 48, 64, 0.2);
  background-color: rgb(31, 48, 64, 0.1) !important;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
}

.count {
  background-color: #AFE9FF99;
  border-radius: 5px;
}

.ais-SearchBox-input{
  font-size:1rem;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  border:1px solid #ced4da;
  border-radius:.25rem;
  margin-right: 3px;
  width:80%;
  margin: 10px;
}

.ais-SearchBox-submit, .ais-SearchBox-reset{
  border:1px solid transparent;
  font-size:1rem;
  border-radius:.25rem;
  margin-right: 3px;
}