.ais-Highlight-highlighted{
  background-color: #AFE9FF99;
  text-decoration: none;
  font-style: normal;
}

.searchColumn{
  padding: 20px 0px;
}

.refined{
  background-color: red !important;
}

.elementRefine {
  color: blue !important;
}